<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8">
    <link href="./static/css/quizzer.css" type="text/css" rel="stylesheet">
    <script src="./static/js/jquery-2.2.0.min.js"></script>
    <script src="./static/js/underscore-1.8.3.min.js"></script>
    <script src="./static/js/game.js"></script>
  </head>
  <body>
    <header>
      <div class="title">
        <h1>Let's learn about the best places in town</h1>
        <a href="/dashboard" class="btn btn-link">back</a>

        
      <div class="countdown"><span class="time_left">8s</span></div>
      <div class="points"><span class="points">0 points</span></div>
    </header>
    <div class="start">
      <div class="card">
        <p>¿Are you ready?</p>
        <button class="start">Let's start</button>
      </div>
    </div>
    <div class="play">
      <div class="questions"></div>
    </div>
    <div class="finish card">
      <p class="times_up">¡Time is out </output>!</p>
      <p>You got </p>
      <p class="final_points">8 points</p>
      <div class="play_again">
        <button>try again</button>
      </div>
    </div>
  </body>
</html>